body {
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav a {
  text-shadow: 2px 2px 2px #030303;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  border-bottom: 2px solid transparent;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}

.bg-footer {
  background-color: #403834;
}

h1 {
  text-shadow: 2px 2px 2px #030303;
  font-family: "Cipthayasa", sans-serif;
  font-size: 65px;
}

.spaceee{
  margin-top:40px;
  padding-bottom:90px;
}

.btn {
  border-radius: 25px 25px 25px 25px;
  text-shadow: 1px 1px 6px black;
  border: solid 4px #666103;
  background: #a59e00;
}

.login,
.register {
  margin-top: 130px;
}

input {
  text-align: center;
}

.card {
  border-radius: 25px 25px 25px 25px;
}

#space {
  margin-top: 200px;
}

.buy-button,
.promo-img {
  position: relative;
}

.promo-img {
  z-index: 2;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.buy-button {
  z-index: 1;
}

.btn-success:hover {
  border: solid 4px #666103;
  background: rgb(205, 196, 36);
}

footer {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

footer a {
  text-shadow: 2px 2px 2px #030303;
  display: inline-block;
  padding: 10px;
  border-bottom: 2px solid transparent;
}

footer a:hover {
  color: #ffffff;
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #cdc424;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(178, 239, 104, 0.6);
  outline: 0 none;
}

.card-body {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

nav ul a {
  transition: 0.3s ease-in;
}

nav ul a:hover {
  border-bottom: solid 2px white;
}


footer ul a {
  transition: 0.3s ease-in;
}

footer ul a:hover {
  border-bottom: solid 1px white;
}

.colorr:hover{
  color:#666103;
}

.btn-card:hover {
  background-color: #7a7406;
}
a.btn-card {
  text-decoration: none;
  color: #fff;
}

.box{
  padding:60px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}

